.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}
.hero {
    display: flex;
    padding-top: 24px;
    background-color: #1F2937;
}
body {
    margin: 0;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.left , .right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links {
    display: flex;
    color: #e5e7eb;
}
.layer1container {
    display: flex;
    background-color: #1F2937;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
}