.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}
.hero {
    display: flex;
    padding-top: 24px;
    background-color: #1F2937;
}
body {
    margin: 0;
}
.logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.left , .right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links {
    display: flex;
    color: #e5e7eb;
}
.layer1container {
    display: flex;
    background-color: #1F2937;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.layer2column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layer2row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rcorners {
    border-radius: 10px;
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    margin: 10px;
}
.undertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    font-size: 18px;
}
.infoheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 24px;
}
.quote {
    display: flex;
    flex-direction: column;
    margin: 24px;
    background-color: #e5e7eb;
}
.qtext {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding: 2px;
}
.qauthor {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}